{% extends "hr/base/base.html" %}
{% block content %}

<section class="content">
    <h2>Apply for Leave</h2>

    <form method="POST">
        {% csrf_token %}

        <div>
            <label>Employee</label>
            {{ form.employee }}
        </div>

        <div>
            <label>Start Date</label>
            {{ form.start_date }}
        </div>

        <div>
            <label>End Date</label>
            {{ form.end_date }}
        </div>

        <div>
            <label>Reason</label>
            {{ form.reason }}
        </div>

        <button type="submit">Submit Leave</button>
    </form>
</section>

{% endblock %}