{% extends "hr/base/base.html" %}
{% block content %}
<section class="content">
    <h1>Welcome User</h1>

    <div class="cards">
        <div class="card" onclick="location.href='calendar.html'">Calendar</div>
        <a href="{% url 'recruitment' %}" class="card">Recruitment</a>
        <a href="{% url 'applicants_dashboard' %}" class="card">Applicants</a>
        <a href="onboarding.html" class="card">Onboarding/Offboarding</a>
        <a href="{% url 'achievements' %}" class="card">Achievements</a>
        <a href="{% url 'employees' %}" class="card">
            Number of Employees ({{ employee_count }})
        </a>
    </div>

    <div class="dashboard-grid">

        <div class="box large">
            <h3>Departments stats</h3>
            <canvas id="salaryChart"></canvas>
        </div>

        <div class="box">
            <h3>Training Statistics</h3>
            <canvas id="revenueChart"></canvas>
        </div>

        <div class="box">
            <p class="balance">Today's Attendance</p>
            <canvas id="balanceChart"></canvas>
        </div>

        <div class="box large">
            <h3>Department Performance Ratings</h3>
            <canvas
                id="performanceDeptChart"
                data-labels='{{ dept_labels|safe }}'
                data-ratings='{{ dept_ratings|safe }}'>
            </canvas>
        </div>
       <div class="box large">
    <h3>Payroll Statistics</h3>
    <canvas
        id="payrollChart"
        data-months='{{ payroll_months|safe }}'
        data-amounts='{{ payroll_amounts|safe }}'>
    </canvas>
</div>
    </div>
</section>

    

</div>

</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>


const presentToday = {{ present_today }};
const absentToday = {{ absent_today }};
const lateToday = {{ late_today }};

</script>

{% endblock %}