{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta charset="UTF-8">
        <title>HRM System | Dashboard</title>
        <link rel="stylesheet" href="{% static 'hr/css/global.css' %}">
        <link rel="stylesheet" href="{% static 'hr/css/attendance.css' %}">
        <link rel="stylesheet" href="{% static 'hr/css/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'hr/css/employee.css' %}">
        <link rel="stylesheet" href="{% static 'hr/css/leave.css' %}">
        <link rel="stylesheet" href="{% static 'hr/css/payroll.css' %}">
        <link rel="stylesheet" href="{% static 'hr/css/performance.css' %}">
        <link rel="stylesheet" href="{% static 'hr/css/department.css' %}">
        <link rel="stylesheet" href="{% static 'hr/css/profile.css' %}">
    </head>
    <body>
   
        <!-- Include the sidebar -->
        {% include 'employee/essentials/topbar.html' %}
     <div class="layout">
        {% include 'employee/essentials/sidebar.html' %}
        <div id="main" class="main-content">
            <!-- Include the topbar -->
            
            
           
                {% block content %}
                <!-- Page-specific content will go here -->
                {% endblock %}
            
        </div>
    </div>
    </body>
    <script src="{% static 'hr/js/app.js' %}"></script>
</html>